
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="photos" class="nav-link">List of Photos</a>
      </li>
      <li class="nav-item">
        <a routerLink="create-photo" class="nav-link">Create Photo</a>
      </li>
      <li class="nav-item">
        <a routerLink="photo" class="nav-link">Find Photo</a>
      </li>    
      <li class="nav-item">
        <a routerLink="main" class="nav-link">Take Photo</a>
      </li>    
  
    </ul>
  </nav>
  <br><br>
  <router-outlet />


<!-- <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-toolbar-row>
      <span>Feedback Camera</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/upload">
        <mat-icon>upload</mat-icon>
        Upload
      </button>
      <button mat-button routerLink="/image/2">
        <mat-icon>image</mat-icon>
        Get Image
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
   -->