<!-- View 1 -->
<div mat-card>
    <h6>Take Photo</h6>
    <!-- <span class="example-spacer"></span> -->
    <!-- <ul>
    <li >
      <a routerLink="/upload" >Select Photo</a>

    </li>    
    <li >
      <a routerLink="/image/2" >Get Photo</a>
    </li>    
  </ul> -->
    <!-- <br> -->
    <div mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <div gdColumns="repeat(3, 48px)" gdGap="1rem">
        <webcam [width]="width" [height]="height" [trigger]="trigger"
                (imageCapture)="snapshot($event)">
        </webcam>
        </div>

        <div>
            <button mat-raised-button color="primary" type="button" (click)="snap()">Snap</button>
            <button mat-raised-button color="primary" type="button" [routerLink]="['/picture']">Select Photo</button>
            <button mat-raised-button color="primary" type="button" [routerLink]="['/image/2']">Get Photo</button>
        </div>

        <div *ngFor="let p of pics">
            <img [src]="p" width="100"/>
        </div>
    </div>
</div>
