<!-- View 2 -->
<div mat-card>
    <div mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="form" (ngSubmit)="upload()">
        <table>
            <tr>
                <td>
                    <img [src]="imageData" class="thumbnail"/>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label>Title</label>
                        <input id="title" type="text" size="30" formControlName="title">
                      </div>
                </td>
            </tr>
            <!-- <tr>
                <td>
                    <div>
                        <label>Complain</label>
                        <textarea matInput cols="30" rows="4" formControlName="complain"></textarea>
                      </div>
                </td>
                
            </tr> -->
            <tr>
                <td>
                    <button mat-raised-button color="primary" type="button" [routerLink]="['/']">Back</button>
                    &nbsp;
                    <button mat-raised-button color="warning" type="button" type="submit">Upload</button>
                </td>  
            </tr>
        </table>
    </form>
    </div>
</div>

